absl-py==0.9.0
altgraph==0.17
asgiref==3.2.5
astor==0.8.1
atomicwrites==1.3.0
attrs==19.3.0
backcall==0.1.0
cachetools==4.0.0
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
click==7.1.1
cmake==3.17.1
colorama==0.4.3
config==0.4.2
crypto==1.4.1
cryptography==3.4.7
curses-2048==1.4
curses-menu==0.5.0
curses-questions==1.4
curses-snake==1.0.3
curses-ui==0.0.2
curses-util==0.0.25
cursy==1.0.1
cycler==0.10.0
DateTime==4.3
decorator==4.4.2
defusedxml==0.7.1
Django==3.0.4
django-allauth==0.44.0
django-extensions==3.1.3
dlib==19.19.0
face-recognition==1.3.0
face-recognition-models==0.3.0
future==0.18.2
gast==0.2.2
google-auth==1.11.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.26.0
h5py==2.10.0
idna==2.8
image==1.5.28
importlib-metadata==1.6.0
imutils==0.5.3
ipython==7.13.0
ipython-genutils==0.2.0
iso8601==0.1.14
jedi==0.16.0
Jinja2==2.11.3
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
labelImg==1.8.3
lxml==4.5.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.2.0
mock==4.0.2
more-itertools==8.2.0
MouseInfo==0.1.3
mylib==0.0.1
mysql-connector==2.2.9
Naked==0.1.31
numpy==1.19.1
oauthlib==3.1.0
opencv-contrib-python==4.2.0.32
opencv-python==4.4.0.44
opt-einsum==3.1.0
packaging==20.3
pairwise==0.1
pandas==1.1.2
parso==0.6.2
pefile==2019.4.18
phue==1.1
pickleshare==0.7.5
Pillow==7.0.0
pluggy==0.13.1
prompt-toolkit==3.0.4
protobuf==3.11.2
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.50
pycparser==2.20
pycryptodome==3.10.1
pygame==1.9.6
PyGetWindow==0.0.8
Pygments==2.6.1
PyInstaller==3.6
PyJWT==2.0.1
PyMsgBox==1.0.7
pynput==1.6.8
pyparsing==2.4.6
pyperclip==1.8.0
PyQt5==5.15.1
PyQt5-sip==12.8.1
PyRect==0.1.4
PyScreeze==0.1.26
pyserial==3.5
pytest==5.4.1
python-dateutil==2.8.1
python3-openid==3.2.0
PyTweening==1.0.3
pytz==2019.3
pywin32-ctypes==0.2.0
PyYAML==5.3
render==1.0.0
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
schedule==1.0.0
scikit-learn==0.22.2.post1
scipy==1.4.1
serial==0.0.97
shellescape==3.8.1
six==1.14.0
sklearn==0.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
soco==0.19
sqlparse==0.3.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tflearn==0.3.2
traitlets==4.3.3
urllib3==1.25.8
utils==1.0.1
variable==0.0.4
virtualenv==16.7.9
wcwidth==0.1.9
Werkzeug==0.16.1
wrapt==1.11.2
wxPython==4.0.7.post2
xmltodict==0.12.0
zipp==3.1.0
zope.interface==5.2.0
