
{% extends 'base.html' %}

{% block content %}
    <h1>Find Someone</h1>
    <br>
    <form method="POST" action="{% url 'comp' %}">
        {% csrf_token %}
        <div class="form-group ">
            <label for="formFileMd" class="form-label">Image of lost person.</label>
            <input class="form-control form-control-md" id="formFileMd" type="file" />
            <small >Please upload proper & clear image of persons face for better results.</small>
        </div>
        <input type="submit" value="Compare Face">
        <br>
        <br>
        {% if data1 %}
            Same person found : {{data1}}
        {% endif %}
    </form>
{% endblock %}