<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>
    <form>
        
    </form>
</body>
</html>-->
{% extends 'base.html' %}

{% block content %}
{% load static %}
<br>
<h1>Upload Person</h1>

<div class="liquid-container">
    <img src="{% static 'images/upload.svg' %}" width="60%" class="rounded float-right" alt="...">
</div>
<br>
<form method="POST" action="{% url 'upload' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="firstname"> <b><a class="text-warning">Your</a> First Name</b></label><br>
        <input type="text" class="form-control" style="width:33%" name="fname_u" id="firstname"
               placeholder="First Name" value="{{ fname_u }}" required>
    </div>
    <div class="form-group">
        <label for="lastname"><b><a class="text-warning">Your </a> Last Name</b></label><br>
        <input type="text" class="form-control" style="width:33%" name="lname_u" id="lastname" placeholder="Last Name"
               value="{{ lname_u }}" required>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1"><b><a class="text-warning">Your</a> Email address</b></label><br>
        <input type="email" class="form-control" style="width:33%" name="email_u" id="exampleInputEmail1"
               placeholder="Email address" value="{{ email_u }}" required>
    </div>
    <div class="form-group">
        <label for="phone"><b><a class="text-warning">Your </a> Mobile Number</b></label><br>
        <input type="tel" pattern="[7-9]{1}[0-9]{9}" class="form-control" style="width:33%" name="mobile_u" id="phone"
               placeholder="Mobile Number" value="{{ mobile_u }}" required>
    </div>
    <div class="form-group ">
        <label for="formFileMd" class="form-label"><b><a class="text-warning">Image </a>of Mobile Lost
            person</b></label><br>
        <input class="btn-default" name="image_l" id="formFileMd" required type="file" accept="image/*"/><br>
        <small>Please upload proper & clear image of persons face for better results.</small><br>
    </div>

    <!--<br>
    <label for="inputGroupFile01" class="form-label"><b><a class="text-warning">Image </a>of Mobile Lost person</b></label><br>
    <div class="input-group mb-3">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01">
            <label class="custom-file-label" style="width:35%" for="inputGroupFile01">Choose file</label>
        </div>
    </div>
    -->
    <button type="submit" style="color:black;background:#ffc727" class="btn btn-default"><b>Submit</b></button>
</form>

{% endblock %}
