<!DOCTYPE html>
<html>
<head>
    <title>Person Finder</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    {% load socialaccount %}
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
<style>
.btn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: auto;
    font-size: 1.5rem;
    outline: none;
    border: none;
    text-align: center;
    background-image: linear-gradient(to right, #ffca01, #ffca01, #ffca01, #ffd84a, #ffd84a, #ffd84a);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.678);
    text-transform: uppercase;
    font-family: 'Poppins' ,sans-serif;
    font-weight: 600;
    background-size: 200%;
    transition: .5s;
}
</style>
</head>
<body>
<div class="container">
    <br>
    <img src="{% static 'images/illustration.svg' %}" width="60%" alt="illustration image" class="wave float-left">
    <div class="login-container">
        <form action="index.html">
            <br>
            <img class="avatar" src="{% static 'images/aavatar.svg' %}" alt="aavatar img">
            <h2>Person Finder</h2>
            <!--<div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div>
                    <h5>Username</h5>
                    <input type="text" class="input" id="username" required>
                </div>
            </div>
            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div>
                    <h5>Password</h5>
                    <input type="password" class="input" id="password" required>
                </div>
            </div>
            <a href="#">Forget Password?</a>-->
            <br>
            <br>
            {% if user.is_authenticated %}
            <h3>Welcome, {{ user.username }}</h3>
            <br>
            <button  type="button" onclick="location.href = '{% url 'home' %}'" class="btn">Home</button>
            <!--onclick="logIn()"-->
            {% else %}
            <button style="text-align: center;" type="button" onclick="location.href = '{% provider_login_url 'google' %}'" class="btn"
                    value="Login">Sign In Using Google
            </button> <!--onclick="logIn()"-->

            {% endif %}
            <br>
        </form>
    </div>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>

</body>
</html>